<!-- breadcrumb start -->
<div class="breadcrumb-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="page-title">
          <h2>about us</h2>
        </div>
      </div>
      <div class="col-sm-6">
        <nav aria-label="breadcrumb" class="theme-breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="'/home/one'">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
<!-- breadcrumb end -->
<!-- about section start -->
<section class="about-page  section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="banner-section">
          <img src="assets/images/about/about%20us.jpg" class="img-fluid" alt="" />
        </div>
      </div>
      <div class="col-sm-12">
        <h4>A mark of excellence as our reviewers tell us</h4>
        <p>
          The establishment of the Market
          Every new concept is based on need. The idea of ​​creating a website that will enable buying, selling and exchanging was realized in the winter of 2020, with the official launch of this website. The launch of the website was a huge success as the number of visitors increased day by day. Today our website is the leading Macedonian shopping market on the Internet, with 100,000 visitors per day and more than 1,000 ads per day.
        <p>
          Business Model
          The purpose of the Business model is to provide easy, effective and secure advertising. Through this website, individuals and companies from Macedonia can sell, buy and exchange items like never before. The purpose of Pazar3 is to continuously improve the user experience of online advertising.
        </p>
      </div>
    </div>
  </div>
</section>
<!-- about section end -->
<!--Testimonial start-->
<section class="testimonial small-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <ngx-slick-carousel class="slide-2 testimonial-slider no-arrow" #slickModal="slick-carousel" [config]="testimonialSliderConfig">
          <div ngxSlickItem *ngFor="let ts of testimonial">
            <div class="media">
              <div class="text-center">
                <img [src]="ts.image" alt="#">
                <h5>{{ts.name}}</h5>
                <h6>{{ts.designation}}</h6>
              </div>
              <div class="media-body">
                <p>{{ts.description}}</p>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>
<!--Testimonial ends-->
<!--Team start
<section id="team" class="team section-b-space">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Our Team</h2>
        <div class="team-4">
          <ngx-slick-carousel class="team-4" #slickModal="slick-carousel" [config]="teamSliderConfig">
            <div ngxSlickItem *ngFor="let tm of team">
              <img [src]="tm.image" class="img-fluid" alt="" />
              <h4>{{tm.name}}</h4>
              <h6>{{tm.designation}}</h6>
            </div>
          </ngx-slick-carousel>
        </div>
      </div>
    </div>
  </div>
</section>-->
<!--Team ends-->
<!-- service section -->
<!-- service section end -->
