
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<section class="container">
    <div class="err404">
        <h1 class="err404-ttl">@ViewBag.StatusCode</h1>
        <p class="err404-subttl">
            @ViewBag.ErrorMessage
        </p>
        <p class="err404-subttl">
            @ViewBag.RouteOfException
        </p>
    </div>\
</section>