@model AdSite.Models.DatabaseModels.Localization

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Localization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocalizationKey" class="control-label"></label>
                <input asp-for="LocalizationKey" class="form-control" />
                <span asp-validation-for="LocalizationKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="English" class="control-label"></label>
                <input asp-for="English" class="form-control" />
                <span asp-validation-for="English" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Macedonian" class="control-label"></label>
                <input asp-for="Macedonian" class="form-control" />
                <span asp-validation-for="Macedonian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Albanian" class="control-label"></label>
                <input asp-for="Albanian" class="form-control" />
                <span asp-validation-for="Albanian" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
