@model AdSite.Models.CRUDModels.LocalizationViewModel
@using AdSite.Views.Shared;
@{
    AdminNavPages.AddActivePage(ViewContext, AdminNavPages.Localizations);
}

@await Html.PartialAsync("_AdminPartial")

<h2><localize name="General_Details"></localize></h2>

<h4><localize name="Localization_Entity"></localize></h4>

<hr />

<div class="center-block">
    <dl class="dl-horizontal">
        <dt>
            <localize name="Localization_Fields_LocalizationKey"></localize>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalizationKey)
        </dd>

        <dt>
            <localize name="Localization_Fields_LocalizationValue"></localize>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LocalizationValue)
        </dd>
        <dt>
            <localize name="Language_Field_LanguageName"></localize>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Language.Name)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-default"><localize name="General_Edit"></localize></a> |
    <a asp-action="Index" class="btn btn-default"><localize name="General_BackToList"></localize></a>
</div>
