@model AdSite.Models.CRUDModels.LocalizationEditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Localization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LocalizationKey" class="control-label"></label>
                <input asp-for="LocalizationKey" class="form-control" />
                <span asp-validation-for="LocalizationKey" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalizationValue" class="control-label"></label>
                <input asp-for="LocalizationValue" class="form-control" />
                <span asp-validation-for="LocalizationValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LanguageId" class="control-label"></label>
                <select asp-for="LanguageId"
                        class="form-control"
                        asp-items="@(new SelectList(@ViewBag.Languages,"Id", "Name"))"></select>

            </div>

            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
