@using Microsoft.AspNetCore.Identity
@using AdSite.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="topauth">
        <a asp-area="" asp-controller="Manage" asp-action="Index"><span class="shop-menu-ttl">
                <i class="fa fa-shopping-cart"></i>
                <span class="shop-menu-ttl"><localize name="Layouts_MyProfile"></localize></span>
            </a>
    </li>
    <li class="topauth">
        <a asp-area="" asp-controller="Manage" asp-action="Index"><span class="shop-menu-ttl">Hello @UserManager.GetUserName(User)!</span></a>
    </li>
    <li>
        <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
            <button type="submit" class="btn btn-link">Log out</button>
        </form>
    </li>
}
else
{
    <li class="topauth">
        <a asp-area="" asp-controller="Account" asp-action="Register">
            <i class="fa fa-lock"></i>
            <span class="shop-menu-ttl">Registration</span>
        </a>
        <a asp-area="" asp-controller="Account" asp-action="Login">
            <span class="shop-menu-ttl">Login</span>
        </a>
    </li>
}