@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<li>
    <a asp-action="Index"
       asp-controller="Home">
        <localize name="Layouts_Home"></localize>
    </a>
</li>
<li>
    <a asp-action="Index"
       asp-controller="Ads">
        <localize name="Layouts_AllAds"></localize>
    </a>
</li>
<li>
    <a asp-action="Contact"
       asp-controller="Home">
        <localize name="Layouts_ContactUs"></localize>
    </a>
</li>


@if (SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("User"))
    {
        <li>
            <a asp-action="UsersPanel" asp-controller="Home">
                <localize name="Layouts_UserPanel"></localize>
            </a>
        </li>
    }
    @if (User.IsInRole("Admin"))
    {
        <li>
            <a asp-action="AdminPanel" asp-controller="Home">
                <localize name="Layouts_AdminPanel"></localize>
            </a>
        </li>
    }
}