@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using AdSite.Views.Shared
@inject IAuthorizationService AuthorizationService

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (User.IsInRole("User"))
{
    <ul class="nav nav-pills">
        <li class="@UsersNavPages.MyAdsNavClass(ViewContext)"><a asp-action="MyAds" asp-controller="Ads"><localize name="Ads_MyAds"></localize></a></li>
        <li class="@UsersNavPages.NewAdNavClass(ViewContext)"><a asp-action="Create" asp-controller="Ads"><localize name="Ads_NewAd"></localize></a></li>
        <li class="@UsersNavPages.MyWishlistNavClass(ViewContext)"><a asp-action="Index" asp-controller="Wishlist"><localize name="Wishlist_MyWishlist"></localize></a></li>
        <li class="@UsersNavPages.VerificationsNavClass(ViewContext)"><a asp-action="Index" asp-controller="Home"><localize name="General_Verifications"></localize></a></li>
    </ul>

    <br />
}