@model AdSite.Models.CRUDModels.CountryEditModel
@using AdSite.Views.Shared;
@{
    AdminNavPages.AddActivePage(ViewContext, AdminNavPages.Countries);
}
@await Html.PartialAsync("_AdminNavigationPartial")

<br />
<div class="container">
    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="close" asp-action="Index">
                        ×
                    </a>
                    <h4 class="modal-title"><localize name="Country_Edit"></localize></h4>
                </div>
                <form asp-action="Edit">
                    <div class="modal-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label"><localize name="Country_Field_Name"></localize> </label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"><localize name="Country_Field_Path"></localize></label>
                            <input asp-for="Path" class="form-control" />
                            <span asp-validation-for="Path" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label"><localize name="Country_Field_Abbreviation"></localize></label>
                            <input asp-for="Abbreviation" class="form-control" />
                            <span asp-validation-for="Abbreviation" class="text-danger"></span>
                        </div>
                        <input type="hidden" asp-for="ID" />
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-default"><localize name="General_Save"></localize></button>
                            <a asp-action="Index" class="btn btn-default"><localize name="General_BackToList"></localize></a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/js/login.js">
</script>
