<!-- service layout -->
<div class="container">
    <section class="service border-section small-section ">
        <div class="row">
            <div class="col-md-4 service-block">
                <div class="media">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#ff4c3b" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><path d="M16 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="8.5" cy="7" r="4"></circle><line x1="20" y1="8" x2="20" y2="14"></line><line x1="23" y1="11" x2="17" y2="11"></line></svg>
                    <div class="media-body">
                      <h4>Users database</h4>
                      <p>Join the growing local ad community</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 service-block">
                <div class="media">
                  <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#ff4c3b" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="1" x2="12" y2="23"></line><path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path></svg>
              <div class="media-body">
                <h4>Create free ads</h4>
                <p>Our ad creation will be free forever!</p>
            </div>
        </div>
    </div>
    <div class="col-md-4 service-block">
        <div class="media">
          <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="#ff4c3b" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"><rect x="5" y="2" width="14" height="20" rx="2" ry="2"></rect><line x1="12" y1="18" x2="12.01" y2="18"></line></svg>
            <div class="media-body">
              <h4>Responsive design</h4>
              <p>Enjoy our website from any device</p>
            </div>
        </div>
    </div>
</div>
</section>
</div>
<!-- service layout  end -->
