<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>faq</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/one'">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">faq</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="accordion theme-accordion" id="accordionExample">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    I Forgot my password, what should i do?
                                </button>
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                              <p>Go to the account located in the banner and use "Forgot my password" link. Enter here the e-mail, with which you registered on site and to which the activation link was sent. You will now receive a new password, with which you can log in as usual. Please do not forget to change it and remember the new password well.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                How to establish contact with the seller?
                              </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                              <p>We provide you with an e-mail form, through which you can establish direct contact with the bidder. You will find the form to the right next to the text of the ad. In the answer from the bidder you will find his direct e-mail for further direct contact. Some bidders leave other contact information in their advertisements, for example the phone number.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                How can I change the ad?
                              </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                              <p>You can change all the data in your ad, e.g. title, price, description, image. The link to change your ad can be found in the ad itself. You can go in dashborad and click on "My Ads" and then click on "Edit". As a registered member, you can manage ads directly through the website.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                    Where is my Ad?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                              <p>
                                In the event that your listing does not appear on the Website after inclusion, the following errors may have occurred:
                                Your ad has been reviewed by our administrators and removed because it did not comply with our terms and conditions. Deleted ads or duplicate content may be deleted. But in this case you get an email from us.
                                You have not placed the ad in the appropriate category and our service has moved it to the correct category. The advertisement has expired and it has been automatically deleted from the website. If in the next 24 hours after the announcement, you still have not received an activation e-mail from us, then you have either given your e-mail incorrectly or we have a technical problem. You can contact us or re-enter your ad.
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                              <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                How long does the ad stay online?
                              </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                              <p>Your ads remain on our website for 90 days. Within these 90 days, the announcement can be extended for a further 90 days. These further 90 days are valid from the day when the announcement is changed. You can also delete the ad prematurely. You will find the link for deleting or extending the announcement in the confirmation e-mail, which we send you when the announcement is published. If you want to request this email again, click on "My Ads" and then click on "Manage Ads". As a registered member you can change, resume, delete or re-expire expired ads directly through the website.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
