<ul class="nav nav-pills">
  <li><a class="active" [routerLink]="[{ outlets: { subAdmin: 'manageusers' }}]" routerLinkActive="active"><app-localization localizationKey="ManageUsers_Entity"></app-localization></a></li>
  <li><a [routerLink]="[{ outlets: { subAdmin: 'categories' }}]" routerLinkActive="active"><app-localization localizationKey="Categories_Entity"></app-localization></a></li>
  <li><a [routerLink]="[{ outlets: { subAdmin: 'cities' }}]" routerLinkActive="active"><app-localization localizationKey="Cities_Entity"></app-localization></a></li>
  <li><a [routerLink]="[{ outlets: { subAdmin: 'languages' }}]" routerLinkActive="active"><app-localization localizationKey="Languages_Entity"></app-localization></a></li>
  <li><a [routerLink]="[{ outlets: { subAdmin: 'localizations' }}]" routerLinkActive="active"><app-localization localizationKey="Localizations_Entity"></app-localization></a></li>
  <li><a [routerLink]="[{ outlets: { subAdmin: 'webSettings' }}]" routerLinkActive="active"><app-localization localizationKey="WebSettings_Entity"></app-localization></a></li>
  <li><a [routerLink]="[{ outlets: { subAdmin: 'countries' }}]" routerLinkActive="active"><app-localization localizationKey="Countries_Entity"></app-localization></a></li>
</ul>
<router-outlet name="subAdmin"></router-outlet>
<br />
