<!-- Main Content - start
@section Scripts {
<script src="~/js/gmap.js" asp-append-version="true"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAahuy9rNJJnDbW-UuSjNIY15ddQaV-xIs"></script>
}-->
<main>
  <section class="container stylization maincont">

    <h1 class="main-ttl"><span><app-localization localizationKey="Layouts_Contacts"></app-localization></span></h1>
    <!-- Contacts - start -->
    <br>
    <div class="iconbox-wrap">
      <div class="row iconbox-list">
        <div class="cf-xs-6 cf-sm-4 cf-lg-4 col-xs-6 col-sm-4 iconbox-i">
          <p class="iconbox-i-img"><!-- NO SPACE --><i class='fa fa-phone fa-5x'></i><!-- NO SPACE --></p>
          <h3 class="iconbox-i-ttl">
            <ng-container *ngIf="(webSettings$ | async) as webSetting;">
              {{ webSetting.phone }}
            </ng-container>
          </h3>
          <app-localization localizationKey="Contacts_Slogan"></app-localization>
          <span class="iconbox-i-margin"></span>
        </div>
        <div class="cf-xs-6 cf-sm-4 cf-lg-4 col-xs-6 col-sm-4 iconbox-i">
          <p class="iconbox-i-img">
            <!-- NO SPACE -->
            <i class='fa fa-map-pin fa-5x'></i><!-- NO SPACE -->
          </p>
          <h3 class="iconbox-i-ttl"><app-localization localizationKey="Contacts_OurAddress"></app-localization></h3>
          <app-localization localizationKey="Contacts_Location"></app-localization>
          <span class="iconbox-i-margin"></span>
        </div>
        <div class="cf-xs-6 cf-sm-4 cf-lg-4 col-xs-6 col-sm-4 iconbox-i">
          <p class="iconbox-i-img"><!-- NO SPACE --><i class='fa fa-clock-o fa-5x'></i><!-- NO SPACE --></p>
          <h3 class="iconbox-i-ttl"><app-localization localizationKey="Contacts_Schedule"></app-localization></h3>
          <app-localization localizationKey="Contacts_ScheduleDefinition"></app-localization>
          <span class="iconbox-i-margin"></span>
        </div>
      </div>
    </div>

    <!-- Contacts Info - end -->
    <ng-container *ngIf="(webSettings$ | async) as webSetting;">
      <div class="social-wrap">
        <div class="social-list">
          <div class="social-i">
            <a rel="nofollow" target="_blank" href="{{ webSetting.facebookSocialLink }}">
              <p class="social-i-img">
                <i class="fa fa-facebook"></i>
              </p>
              <p class="social-i-ttl">Facebook</p>
            </a>
          </div>
          <div class="social-i">
            <a rel="nofollow" target="_blank" href="{{ webSetting.googlePlusSocialLink }}">
              <p class="social-i-img">
                <i class="fa fa-google-plus"></i>
              </p>
              <p class="social-i-ttl">Google +</p>
            </a>
          </div>
          <div class="social-i">
            <a rel="nofollow" target="_blank" href="{{ webSetting.twitterSocialLink }}">
              <p class="social-i-img">
                <i class="fa fa-twitter"></i>
              </p>
              <p class="social-i-ttl">Twitter</p>
            </a>
          </div>
          <div class="social-i">
            <a rel="nofollow" target="_blank" href="{{ webSetting.vkSocialLink }}">
              <p class="social-i-img">
                <i class="fa fa-vk"></i>
              </p>
              <p class="social-i-ttl">Vkontakte</p>
            </a>
          </div>
          <div class="social-i">
            <a rel="nofollow" target="_blank" href="{{ webSetting.instagramSocialLink }}">
              <p class="social-i-img">
                <i class="fa fa-instagram"></i>
              </p>
              <p class="social-i-ttl">Instagram</p>
            </a>
          </div>
        </div>
      </div>
    </ng-container>

    <!-- Contact Form -->
    <div class="contactform-wrap">
      <form action="#" class="form-validate">
        <h3 class="component-ttl component-ttl-ct component-ttl-hasdesc"><span><app-localization localizationKey="Contacts_Feedback"></app-localization></span></h3>
        <p class="component-desc component-desc-ct">Alias minima veritatis unde illo deserunt omnis facilis</p>
        <p class="contactform-field contactform-text">
          <label class="contactform-label"><app-localization localizationKey="Contacts_Name"></app-localization></label><!-- NO SPACE --><span class="contactform-input"><input placeholder="Name" type="text" name="name" data-required="text"></span>
        </p>
        <p class="contactform-field contactform-email">
          <label class="contactform-label"><app-localization localizationKey="Contacts_Email"></app-localization></label><!-- NO SPACE --><span class="contactform-input"><input placeholder="Your E-mail" type="text" name="email" data-required="text" data-required-email="email"></span>
        </p>
        <p class="contactform-field contactform-textarea">
          <label class="contactform-label"><app-localization localizationKey="Contacts_Message"></app-localization></label><!-- NO SPACE --><span class="contactform-input"><textarea placeholder="Your message" name="mess" data-required="text"></textarea></span>
        </p>
        <p class="contactform-submit">
          <input value="Send" type="submit">
        </p>
      </form>
    </div>
    <br>
    <br>
    <!-- Google Maps -->
    <div class="contacts-map allstore-gmap">
      <div class="marker" data-zoom="15" data-lat="41.95414" data-lng="21.0098988"><app-localization localizationKey="Contacts_Location"></app-localization></div>
    </div>
    <!-- Contacts - end -->

  </section>
</main>
<!-- Main Content - end -->
