@model AdSite.Models.CRUDModels.AdViewModel
@using AdSite.Views.Shared;

<h3><localize name="General_DeleteMessage"></localize></h3>
<div>
    <h4><localize name="Ad_Entity"></localize></h4>
    <hr />

    <div class="center-block">
        <dl class="dl-horizontal">
            <dt>
                <localize name="Ad_Field_Name"></localize>
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
        </dl>
    </div>

    <br />

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <button type="submit" value="Delete" class="btn btn-default"><localize name="General_Delete"></localize></button> |
        <a asp-action="Index" class="btn btn-default"><localize name="General_BackToList"></localize></a>
    </form>
</div>
