mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

  a:hover,
  a:active {
    color: lightgray;
  }

.navigation-items {
  list-style: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.example-spacer {
  flex: 1 1 auto;
}
HTML CSSResult Skip Results Iframe
/* Generic styling */
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-left: 0;
}

.navigation_item:after {
  width: 2px;
  height: 30px;
  margin-left: 10px;
  background-color: #000000;
  content: "";
}

.mat-primary {
  background: #3f51b5;
  color: #fff;
}



.docs-footer {
  padding: 12px;
  font-size: 12px;
}

.docs-footer-list {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  padding: 8px;
}

.docs-footer-logo {
  flex: 1;
}

.docs-footer-angular-logo {
  height: 50px;
}

.docs-footer-version {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
  .angular-material-logo
{
  height: 40px;
  margin: 10px 0 10px 16px;
}

.version {
  margin: 0 40px;
}


.docs-footer-copyright {
  display: flex;
  flex: 1;
  justify-content: flex-end;
  flex-direction: column;
  min-width: 225px;
  margin-top: 16px;
}
  .docs-footer-copyright > div
{
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  text-align: center;
}

@media (min-width: 885px) {
}

.docs-footer-logo span {
  display: inline-block;
  line-height: 50px;
  margin: 0 40px;
  vertical-align: bottom;
}
  .docs-footer-logo span a {
    font-size: 16px;
    padding: 0;
  }


a {
  text-decoration: none;
  color: inherit;
}



@media screen and (max-width: 884px) {
  .docs-footer-list {
    flex-direction: column;
  }
}
