<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
    </button>
    <h1>SimpleCRM</h1>

    <span class="example-spacer"></span>
    <span flex></span>
    <mat-search-bar></mat-search-bar>

    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon class="icon">account_circle</mat-icon></button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Menu Item 1</button>
      <button mat-menu-item>Menu Item 2</button>
    </mat-menu>

  </mat-toolbar-row>

</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>

      <h2 matSubheader> Account </h2>
      <mat-divider></mat-divider>


      <a mat-list-item [routerLink]="'/accounts'">
        <mat-icon class="icon">input</mat-icon>
        <span class="label">Login</span>
      </a>
      <a mat-list-item [routerLink]="'/create-account'">
        <mat-icon class="icon">input</mat-icon>
        <span class="label1">Login</span>
      </a>
      <a mat-list-item [routerLink]="'/contacts'">
        <mat-icon class="icon">input</mat-icon>
        <span class="label1">Login</span>
      </a>
      <a mat-list-item [routerLink]="'/create-contact'">
        <mat-icon class="icon">input</mat-icon>
        <span class="label1">Login</span>
      </a>
      <a mat-list-item [routerLink]="'/activities'">
        <mat-icon class="icon">input</mat-icon>
        <span class="label1">Login</span>
      </a>
      <a mat-list-item [routerLink]="'/create-activity'">
        <mat-icon class="icon">input</mat-icon>
        <span class="label1">Login</span>
      </a>
      <a mat-list-item (click)="sidenav.toggle()" href="" mat-list-item>Close</a>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">

      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
