<div class="media">
	<a [routerLink]="['/home/left-sidebar/product', product.id]"><img class="img-fluid" [src]="!variantImage ? product.pictures[0] : variantImage" alt=""></a>
	<div class="media-body align-self-center">
		<div class="rating">
			<bar-rating [rate]="5" [readOnly]="true"></bar-rating>
		</div>
		<a [routerLink]="['/home/left-sidebar/product', product.id]"><h6>{{product.name}}</h6></a>
		<h4 *ngIf="!productsService?.catalogMode">{{product.price | currency:productsService?.currency:'symbol'}}</h4>
		<ul class="color-variant" *ngIf="product.variants">
	      <li [class]="variant.color" (click)="changeVariantImage(variant.images)" *ngFor="let variant of product.variants"></li>
	    </ul>
	</div>
</div>