@model AdSite.Models.CRUDModels.CityViewModel
@using AdSite.Views.Shared;
@{
    AdminNavPages.AddActivePage(ViewContext, AdminNavPages.Cities);
}
@await Html.PartialAsync("_AdminPartial")

<h2><localize name="General_Details"></localize></h2>

<h4><localize name="City_Entity"></localize></h4>

<hr />

<div class="center-block">
    <dl class="dl-horizontal">
        <dt>
            <localize name="City_Field_Name"></localize>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            <localize name="City_Field_Postcode"></localize>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>
    </dl>
</div>

<br />

<div>
    <a asp-action="Edit" asp-route-id="@Model.ID" class="btn btn-default"><localize name="General_Edit"></localize></a> |
    <a asp-action="Index" class="btn btn-default"><localize name="General_BackToList"></localize></a>
</div>
