@model ApplicationUser
@using AdSite.Views.Shared;
@{
    AdminNavPages.AddActivePage(ViewContext, AdminNavPages.Localizations);
}

@await Html.PartialAsync("_AdminPartial")

<h3><localize name="General_DeleteMessage"></localize></h3>
<div>
    <h4><localize name="Account_Entity"></localize></h4>
    <hr />
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <button type="submit" value="Delete" class="btn btn-default"><localize name="General_Delete"></localize></button> |
        <a asp-action="Index" class="btn btn-default"><localize name="General_BackToList"></localize></a>
    </form>
</div>
