@model AdSite.Models.CRUDModels.LanguageCreateModel
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using System.Globalization;
@using AdSite.Models.CRUDModels

@inject IOptions<RequestLocalizationOptions> LocOptions

@section Scripts {
    <script src="~/lib/jquery/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap-select/js/bootstrap-select.min.js" asp-append-version="true"></script>
}

@{
    var createCultureItems = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                          .Select(c => new LanguageSelectViewModel() { CultureId = c.LCID, LanguageShortName = c.Name, LanguageName = c.DisplayName })
                          .ToList();
    
}

<h2>Create</h2>

<h4>Language</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="selectLanguage" asp-controller="Languages"
              asp-action="Create" method="post" class="form-horizontal" role="form">

            <select asp-for="CultureId" class="createSelectpicker form-control" name="CultureId">
                <options asp-items="createCultureItems" />
            </select>

            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Add Language" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('.createSelectpicker').selectpicker();
    });
</script>

<div>
    <a asp-action="Index">Back to List</a>
</div>

