@model AdSite.Models.CRUDModels.LanguageCreateModel
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using System.Globalization;
@using AdSite.Models.CRUDModels

@inject IOptions<RequestLocalizationOptions> LocOptions

@section Scripts {
    
}

@{
    var createCultureItems = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                          .Select(c => new LanguageSelectViewModel() { CultureId = c.LCID, LanguageShortName = c.Name, LanguageName = c.DisplayName })
                          .ToList();
    
}

<h2><localize name="Language_Create"></localize></h2>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form id="selectLanguage" asp-controller="Languages"
              asp-action="Create" method="post" class="form-horizontal" role="form">

            <select asp-for="CultureId" class="createSelectpicker form-group" name="CultureId">
                <options asp-items="createCultureItems" selected-item-enabled="false" />
            </select>

            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Add Language" class="btn btn-default" />
                <button asp-action="Index" class="btn btn-default" onclick="window.history.back();">Back to List</button>
            </div>
        </form>
    </div>
</div>

<script>
    $(function () {
        $('.createSelectpicker').selectpicker();
    });
</script>

