@model AdSite.Models.CRUDModels.LanguageCreateModel
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using System.Globalization;
@using AdSite.Models.CRUDModels
@using AdSite.Views.Shared;

@inject IOptions<RequestLocalizationOptions> LocOptions
@{
    AdminNavPages.AddActivePage(ViewContext, AdminNavPages.Languages);
    var createCultureItems = CultureInfo.GetCultures(CultureTypes.SpecificCultures)
                          .Select(c => new LanguageSelectViewModel() { CultureId = c.LCID, LanguageShortName = c.Name, LanguageName = c.DisplayName })
                          .ToList();
}

@await Html.PartialAsync("_AdminNavigationPartial")

<h2><localize name="Language_CreateNew"></localize></h2>


<div class="container">
    <div class="modal fade" tabindex="-1" id="loginModal"
         data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <a type="button" class="close" asp-action="Index">
                        ×
                    </a>
                    <h4 class="modal-title"><localize name="Language_CreateNew"></localize></h4>
                </div>
                <form id="selectLanguage" asp-controller="Languages"
                      asp-action="Create" method="post" class="form-horizontal" role="form">
                    <div class="modal-body">


                        <label class="control-label"><localize name="Languages_Entity"></localize></label>
                        <br />
                        <br />

                        <select asp-for="CultureId" class="createSelectpicker form-group" name="CultureId">
                            <options asp-items="createCultureItems" selected-item-enabled="false" />
                        </select>

                        <br />
                        <br />
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-default"><localize name="Language_AddLanguage"></localize> </button>
                        <button asp-action="Index" class="btn btn-default" onclick="window.history.back();"><localize name="General_BackToList"></localize></button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $('.createSelectpicker').selectpicker();
    });
</script>


