@model AdSite.Models.CRUDModels.CategoryFilterComponentViewModel
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf
@functions{
    public string GetAntiXsrfRequestToken()
    {
        return Xsrf.GetAndStoreTokens(Context).RequestToken;
    }
}

@section Scripts {
    <script src="~/lib/jstree/jstree.min.js" asp-append-version="true"></script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    <script src="~/lib/toastr.js/toastr.min.js"></script>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
}

<input type="hidden" id="RequestVerificationToken"
       name="RequestVerificationToken" value="@GetAntiXsrfRequestToken()">

<script type="text/html" id="ErrorTemplate">
    <localize name="Toast_Error"></localize>
</script>
<script type="text/html" id="SuccessTemplate">
    <localize name="Toast_Success"></localize>
</script>

<div class="">
    <button type="button" class="btn btn-success btn-md" onclick="jstree_create('stem');"><i class="glyphicon glyphicon-asterisk"></i><localize name="Categories_CreateCategoryStem"></localize></button>
    <button type="button" class="btn btn-success btn-md" onclick="jstree_create('leaf');"><i class="glyphicon glyphicon-asterisk"></i><localize name="Categories_CreateCategoryLeaf"></localize></button>
    <button type="button" class="btn btn-warning btn-md" onclick="jstree_rename();"><i class="glyphicon glyphicon-pencil"></i><localize name="Categories_EditCategory"></localize></button>
    <button type="button" class="btn btn-warning btn-md" onclick="jstree_deselectAll();"><i class="glyphicon glyphicon-pencil"></i><localize name="Categories_DeselectAll"></localize></button>
    <button type="button" class="btn btn-danger btn-md" onclick="jstree_delete();"><i class="glyphicon glyphicon-remove"></i><localize name="Categories_DeleteCategory"></localize></button>
</div>

<br />
<br />


<script>
    function jstree_create(type) {
        var ref = $('#jstree').jstree(true),
            sel = ref.get_selected();
        if (!sel.length) {
            sel = ref.create_node("#", { "text": "New Category", "type": "stem" });
            if (sel) {
                ref.edit(sel);
            }
        }
        else {
            sel = sel[0];
            if(type == 'leaf')
                sel = ref.create_node(sel, { "type": "leaf" });
            if (type == 'stem')
                sel = ref.create_node(sel, { "type": "stem" });
            if (sel) {
                ref.edit(sel);
            }
        }
    };
    function jstree_rename() {
        var ref = $('#jstree').jstree(true),
            sel = ref.get_selected();
        if (!sel.length) { return false; }
        sel = sel[0];
        ref.edit(sel);
    };
    function jstree_delete() {
        var ref = $('#jstree').jstree(true),
            sel = ref.get_selected();
        if (!sel.length) { return false; }
        ref.delete_node(sel);
    };


    function jstree_deselectAll() {
        var ref = $('#jstree').jstree(true),
            sel = ref.get_selected();
        if (!sel.length) { return false; }
        ref.deselect_all();
    };

    function isGuid(stringToTest) {
        if (stringToTest[0] === "{") {
            stringToTest = stringToTest.substring(1, stringToTest.length - 1);
        }
        var regexGuid = /^(\{){0,1}[0-9a-fA-F]{8}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{4}\-[0-9a-fA-F]{12}(\}){0,1}$/gi;
        return regexGuid.test(stringToTest);
    }

    $(document).ready(function () {
        $(function () {
            var successMessageHtml = $("#SuccessTemplate").html();
            var errorMessageHtml = $("#ErrorTemplate").html();


            var arrayCollection = @Html.Raw(Json.Serialize(Model.ComponentCategories));


            $('#jstree').jstree({
                "core": {
                    "multiple": false,
                    "animation": 0,
                    "check_callback": function (op) {
                        if (op === "delete_node") { return confirm("Are you sure you want to delete?"); }
                        return true;
                    },
                    "themes": { "stripes": true },
                    'data': arrayCollection
                },
                "types": {
                    "#": {
                        "max_children": 30,
                        "max_depth": 7,
                        "valid_children": ["stem"]
                    },
                    "stem": {
                        "icon": "glyphicon glyphicon-plus",
                        "valid_children": ["stem", "leaf"]
                    },
                    "leaf": {
                        "icon": "glyphicon glyphicon-leaf",
                        "valid_children": []
                    }
                },
                "plugins": [
                    "contextmenu", "dnd", "search",
                    "state", "types", "wholerow"
                ]
            });


            $('#jstree').on('rename_node.jstree', function (e, data) {
                var id = data.node.id;
                var parent;
                var type;
                if (data.node.parent != "#") {
                    parent = data.node.parent;
                }
                    type = data.node.type
                    if (isGuid(id))
                    {
                        let category = {
                            "Id": id, "Name": data.node.text, "ParentId": parent, "Type": type
                        };

                        $.ajax({
                            type: "POST",
                            url: "/Categories/Edit",
                            data: JSON.stringify(category),
                            contentType: 'application/json',
                            success: function () {
                                toastr.success('Success!');
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                toastr.error('There was an error while processing your request!' + jqXHR.responseText);
                            },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="RequestVerificationToken"]').val()
                            },
                        });
                    }
                    else {
                        let category = {
                            "Name": data.node.text, "ParentId": parent, "Type": type
                        };

                        $.ajax({
                            type: "POST",
                            url: "/Categories/Create",
                            data: JSON.stringify(category),
                            contentType: 'application/json',
                            success: function () {
                                toastr.success('Success!');
                                setTimeout(function () {
                                    location.reload();
                                }, 2000);
                            },
                            error: function (jqXHR, textStatus, errorThrown) {
                                toastr.error('There was an error while processing your request!' + jqXHR.responseText);
                                setTimeout(function () {
                                    location.reload();
                                }, 3000);
                            },
                            headers: {
                                RequestVerificationToken: $('input:hidden[name="RequestVerificationToken"]').val()
                            },
                        });
                    }

            });

            $('#jstree').on('delete_node.jstree', function (e, data) {
                let Id = data.node.id;
                if (Id) {
                    $.ajax({
                        type: "POST",
                        url: "/Categories/Delete/" + Id,
                        contentType: 'application/json',
                        success: function () {
                            toastr.success('Success!');
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            toastr.error('There was an error while processing your request!' + jqXHR.responseText);
                        },
                        headers: {
                            RequestVerificationToken: $('input:hidden[name="RequestVerificationToken"]').val()
                        },
                    });
                }
            });
    });
});
</script>

<div id="jstree">
</div>

