<!-- Quick-view modal popup start-->
<div class="modal fade bd-example-modal-lg theme-modal quickviewm" [id]="'cities-dialog'"
     tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content quick-view-modal">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <div class="checkout-page">
          <div class="checkout-form">
            <form (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                  <div class="checkout-title modal-header">
                    <h3>Cities</h3>
                  </div>
                  <div class="check-out">
                    <div class="form-group col-md-12 col-sm-12 col-xs-12">
                      <div class="field-label">Name</div>
                      <input type="text" name="name" [value]="city?.name" [formControl]="cityForm.controls['name']" value="" placeholder="" autocomplete="off">
                      <div *ngIf="cityForm.controls.name.touched && cityForm.controls.name.errors?.required" class="text text-danger">
                        Name is required.
                      </div>
                      <div *ngIf="cityForm.controls.name.touched && cityForm.controls.name.errors?.pattern" class="text text-danger">
                        Name must be an alphabates.
                      </div>
                    </div>
                    <div class="form-group col-md-12 col-sm-6 col-xs-12">
                      <div class="field-label">Postal Code</div>
                      <input type="text" name="postcode" [formControl]="cityForm.controls['postcode']" value="" placeholder="" autocomplete="off">
                      <div *ngIf="cityForm.controls.postcode.touched && cityForm.controls.postcode.errors?.required" class="text text-danger">
                        Postcode is required
                      </div>
                    </div>
                    <div>
                      <button style="display: inline; float:right" class="btn btn-solid">Submit</button>
                    </div>

                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Quick-view modal popup end-->
