<div class="footer-title">
    <h4>Categories</h4>
</div>
<div class="footer-contant">
  <ul>
    <li><a [routerLink]="'/home/left-sidebar/collection/Cars'">Cars</a></li>
    <li><a [routerLink]="'/home/left-sidebar/collection/Diesel'">Diesel</a></li>
    <li><a [routerLink]="'/home/left-sidebar/collection/Housing'">Housing</a></li>
    <li><a [routerLink]="'/home/left-sidebar/collection/Apartments'">Apartments</a></li>
    <li><a [routerLink]="'/home/left-sidebar/collection/Villas'">Villas</a></li>
  </ul>
</div>
