<!-- Main Content - start -->

@section Scripts {
    <script src="~/js/gmap.js" asp-append-version="true"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAahuy9rNJJnDbW-UuSjNIY15ddQaV-xIs"></script>
}

<script>
    $(document).ready(function () {
        $('#contactsFacebookLink').attr("href", function () { return $('#contactsWebSettingFacebook').text().trim(); });
        $('#contactsInstagramLink').attr("href", function () { return $('#contactsWebSettingInstagram').text().trim(); });
        $('#contactsVkLink').attr("href", function () { return $('#contactsWebSettingVK').text().trim(); });
        $('#contactsGooglePlusLink').attr("href", function () { return $('#contactsWebSettingTwitter').text().trim(); });
        $('#contactsTwitterLink').attr("href", function () { return $('#contactsWebSettingTwitter').text().trim(); });
    });
</script>
<!-- Social links -->
<div style="display:none">
    <div id="contactsWebSettingFacebook">
        <webSettings setting-name="facebook"></webSettings>
    </div>
    <div id="contactsWebSettingInstagram">
        <webSettings setting-name="instagram"></webSettings>
    </div>
    <div id="contactsWebSettingVK">
        <webSettings setting-name="vk"></webSettings>
    </div>
    <div id="contactsWebSettingTwitter">
        <webSettings setting-name="twitter"></webSettings>
    </div>
    <div id="contactsWebSettingGooglePlus">
        <webSettings setting-name="googleplus"></webSettings>
    </div>
</div>


<main>
    <section class="container stylization maincont">

        <h1 class="main-ttl"><span><localize name="Layouts_Contacts"></localize></span></h1>
        <!-- Contacts - start -->
        <br>
        <div class="iconbox-wrap">
            <div class="row iconbox-list">
                <div class="cf-xs-6 cf-sm-4 cf-lg-4 col-xs-6 col-sm-4 iconbox-i">
                    <p class="iconbox-i-img"><!-- NO SPACE --><i class='fa fa-phone fa-5x'></i><!-- NO SPACE --></p>
                    <h3 class="iconbox-i-ttl"> <webSettings setting-name="Phone"></webSettings> </h3>
                    <localize name="Contacts_Slogan"></localize>
                    <span class="iconbox-i-margin"></span>
                </div>
                <div class="cf-xs-6 cf-sm-4 cf-lg-4 col-xs-6 col-sm-4 iconbox-i">
                    <p class="iconbox-i-img"><!-- NO SPACE --><i class='fa fa-map-pin fa-5x'></i><!-- NO SPACE --></p>
                    <h3 class="iconbox-i-ttl"><localize name="Contacts_OurAddress"></localize></h3>
                    <localize name="Contacts_Location"></localize>
                    <span class="iconbox-i-margin"></span>
                </div>
                <div class="cf-xs-6 cf-sm-4 cf-lg-4 col-xs-6 col-sm-4 iconbox-i">
                    <p class="iconbox-i-img"><!-- NO SPACE --><i class='fa fa-clock-o fa-5x'></i><!-- NO SPACE --></p>
                    <h3 class="iconbox-i-ttl"><localize name="Contacts_Schedule"></localize></h3>
                    <localize name="Contacts_ScheduleDefinition"></localize>
                    <span class="iconbox-i-margin"></span>
                </div>
            </div>
        </div>

        <!-- Contacts Info - end -->
        <div class="social-wrap">
            <div class="social-list">
                <div class="social-i">
                    <a rel="nofollow" target="_blank" id="contactsFacebookLink">
                        <p class="social-i-img">
                            <i class="fa fa-facebook"></i>
                        </p>
                        <p class="social-i-ttl">Facebook</p>
                    </a>
                </div>
                <div class="social-i">
                    <a rel="nofollow" target="_blank" id="contactsGooglePlusLink">
                        <p class="social-i-img">
                            <i class="fa fa-google-plus"></i>
                        </p>
                        <p class="social-i-ttl">Google +</p>
                    </a>
                </div>
                <div class="social-i">
                    <a rel="nofollow" target="_blank" id="contactsTwitterLink">
                        <p class="social-i-img">
                            <i class="fa fa-twitter"></i>
                        </p>
                        <p class="social-i-ttl">Twitter</p>
                    </a>
                </div>
                <div class="social-i">
                    <a rel="nofollow" target="_blank" id="contactsVkLink">
                        <p class="social-i-img">
                            <i class="fa fa-vk"></i>
                        </p>
                        <p class="social-i-ttl">Vkontakte</p>
                    </a>
                </div>
                <div class="social-i">
                    <a rel="nofollow" target="_blank" id="contactsInstagramLink">
                        <p class="social-i-img">
                            <i class="fa fa-instagram"></i>
                        </p>
                        <p class="social-i-ttl">Instagram</p>
                    </a>
                </div>
            </div>
        </div>

        <!-- Contact Form -->
        <div class="contactform-wrap">
            <form action="#" class="form-validate">
                <h3 class="component-ttl component-ttl-ct component-ttl-hasdesc"><span><localize name="Contacts_Feedback"></localize></span></h3>
                <p class="component-desc component-desc-ct">Alias minima veritatis unde illo deserunt omnis facilis</p>
                <p class="contactform-field contactform-text">
                    <label class="contactform-label"><localize name="Contacts_Name"></localize></label><!-- NO SPACE --><span class="contactform-input"><input placeholder="Name" type="text" name="name" data-required="text"></span>
                </p>
                <p class="contactform-field contactform-email">
                    <label class="contactform-label"><localize name="Contacts_Email"></localize></label><!-- NO SPACE --><span class="contactform-input"><input placeholder="Your E-mail" type="text" name="email" data-required="text" data-required-email="email"></span>
                </p>
                <p class="contactform-field contactform-textarea">
                    <label class="contactform-label"><localize name="Contacts_Message"></localize></label><!-- NO SPACE --><span class="contactform-input"><textarea placeholder="Your message" name="mess" data-required="text"></textarea></span>
                </p>
                <p class="contactform-submit">
                    <input value="Send" type="submit">
                </p>
            </form>
        </div>
        <br>
        <br>
        <!-- Google Maps -->
        <div class="contacts-map allstore-gmap">
            <div class="marker" data-zoom="15" data-lat="41.95414" data-lng="21.0098988"><localize name="Contacts_Location"></localize></div>
        </div>
        <!-- Contacts - end -->

    </section>
</main>
<!-- Main Content - end -->