<div class="fr-slider-wrap">
    <div class="fr-slider">
        <ul class="slides">
            <li class="flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                <img src="img/slider/slide1.jpg" alt="" draggable="false">
                <div class="fr-slider-cont">
                    <h3><localize name="General_DiscountPercentage"></localize></h3>
                    <p>
                        <localize name="General_DiscountMessage1"></localize>  
                        <br>
                        <localize name="General_DiscountMessage2"></localize>
                    </p>
                    <p class="fr-slider-more-wrap">
                        <a class="fr-slider-more" asp-controller="Account" asp-action="Index"><localize name="General_ButtonCreate"></localize></a>
                    </p>
                </div>
            </li>
            <li data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
                <img src="img/slider/slide1.jpg" alt="" draggable="false">
                <div class="fr-slider-cont">
                    <h3><localize name="General_AdLeader"></localize></h3>
                    <p>
                        <localize name="General_AdLeaderMessage1"></localize>
                        <br> 
                        <localize name="General_AdLeaderMessage2"></localize>
                    </p>
                    <p class="fr-slider-more-wrap">
                        <a class="fr-slider-more" asp-controller="Ads" asp-action="Index"><localize name="General_ButtonFindAd"></localize></a>
                    </p>
                </div>
            </li>
        </ul>
        
    </div>
</div>