<div class="fr-slider-wrap">
    <div class="fr-slider">
        <ul class="slides">
            <li class="flex-active-slide" data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 1; display: block; z-index: 2;">
                <img src="img/slider/slide1.jpg" alt="" draggable="false">
                <div class="fr-slider-cont">
                    <h3>MEGA SALE -30%</h3>
                    <p>Winter collection for women's. <br>We all have choices for you. Check it out!</p>
                    <p class="fr-slider-more-wrap">
                        <a class="fr-slider-more" href="#">View collection</a>
                    </p>
                </div>
            </li>
            <li data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
                <img src="img/slider/slide1.jpg" alt="" draggable="false">
                <div class="fr-slider-cont">
                    <h3>NEW COLLECTION</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>Aliquam consequuntur dolorem doloribus fuga harum</p>
                    <p class="fr-slider-more-wrap">
                        <a class="fr-slider-more" href="#">Shopping now</a>
                    </p>
                </div>
            </li>
            <li data-thumb-alt="" style="width: 100%; float: left; margin-right: -100%; position: relative; opacity: 0; display: block; z-index: 1;" class="">
                <img src="img/slider/slide1.jpg" alt="" draggable="false">
                <div class="fr-slider-cont">
                    <h3>SUMMER TRENDS</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br>Aliquam consequuntur dolorem doloribus fuga harum</p>
                    <p class="fr-slider-more-wrap">
                        <a class="fr-slider-more" href="#">Start shopping</a>
                    </p>
                </div>
            </li>
        </ul>
        <ol class="flex-control-nav flex-control-paging"><li><a href="#" class="flex-active">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li></ol>
    </div>
</div>