@using AdSite.Views.Shared;

@{
    UsersNavPages.AddActivePage(ViewContext, UsersNavPages.Verifications);
}
@await Html.PartialAsync("_UsersNavigationPartial")


<h1>
    Paypal or any payment API here.
</h1>

<br />
<br />